$Shark: #252a2d;
$ChestnutRose: #d5625f;
$Light: #fefefe;
$DoveGrey: #6b6b6b;
$Edward: #aeafae;
$HokeyPokey: #d8bc29;
$SharkLight: #212425;
$OldRose: #c88a80;
$PineCone: #70625b;
$OsloGrey: #899696;
$RegentGrey: #7e8995;
$ChestnutRoseVibrant: #d3615e;
$Thatch: #b4a394;
$IrishCoffee: #632927;
$Woodsmoke: #070809;
$AntiqueBrass: #c2856c;